Package: enigma2-plugin-extensions-jedimakerxtream
Version: 5.28-20191220
Section: misc
Priority: optional
Architecture: all
Maintainer: kiddac
Description: Jedi Maker Xtream
Source: 
Depends: python-lzma
